<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizze</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('pizzas')}"></nav>
    <main class="container p-4">
        <h1>Pizze</h1>
        <hr />
        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${pizzas.size() > 0}">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrizione</th>
                            <th>URL immagine</th>
                            <th>Prezzo</th>
                            <th>Dettaglio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <td>[[*{name}]]</td>
                            <td>[[*{description}]]</td>
                            <td>[[*{imageUrl}]]</td>
                            <td>[[*{price}]]</td>
                            <td><a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-info btn-sm">Dettaglio</a></td>
                        </tr>
                    </tbody>
                </table>
                <p th:unless="${pizzas.size() > 0}" th:text="There are no pizzas available at the moment..." />
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>